@font-face {
	font-family: "Darumadrop One";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("/DarumadropOne.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Fredoka";
	font-style: normal;
	font-weight: 300 700;
	font-stretch: 75% 125%;
	font-display: swap;
	src: url("/Fredoka.woff2") format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--font-sans: "Fredoka", system-ui, sans-serif;
	--font-serif: "Darumadrop One", serif;

	--hue-red: 25;
	--hue-pink: 350;
	--hue-purple: 310;
	--hue-violet: 290;
	--hue-indigo: 270;
	--hue-blue: 240;
	--hue-cyan: 210;
	--hue-teal: 185;
	--hue-green: 145;
	--hue-lime: 125;
	--hue-yellow: 100;
	--hue-orange: 75;

	--brodie-black: oklch(22.05% 0.0036 345.6);
	--brodie-white: oklch(98.3% 0.0195 87.51);

	--brodie-red: oklch(63.77% 0.224 33.32); /* black & cream */
	--brodie-pink: oklch(82.16% 0.1153 353); /* black */
	--brodie-yellow: oklch(84.21% 0.1716 85.7); /* black */
	--brodie-green: oklch(56.49% 0.1292 158.2); /* black & cream */
	--brodie-blue: oklch(50.18% 0.2255 262); /* cream */

	--color-hue: 87.51;
	--gray-hue: 345.6;

	--color-0: oklch(99% 0.03 var(--color-hue, 0));
	--color-1: oklch(95% 0.06 var(--color-hue, 0));
	--color-2: oklch(88% 0.12 var(--color-hue, 0));
	--color-3: oklch(80% 0.14 var(--color-hue, 0));
	--color-4: oklch(74% 0.16 var(--color-hue, 0));
	--color-5: oklch(68% 0.19 var(--color-hue, 0));
	--color-6: oklch(63% 0.2 var(--color-hue, 0));
	--color-7: oklch(58% 0.21 var(--color-hue, 0));
	--color-8: oklch(53% 0.2 var(--color-hue, 0));
	--color-9: oklch(49% 0.19 var(--color-hue, 0));
	--color-10: oklch(42% 0.17 var(--color-hue, 0));
	--color-11: oklch(35% 0.15 var(--color-hue, 0));
	--color-12: oklch(27% 0.12 var(--color-hue, 0));
	--color-13: oklch(20% 0.09 var(--color-hue, 0));
	--color-14: oklch(14% 0.07 var(--color-hue, 0));
	--color-15: oklch(11% 0.05 var(--color-hue, 0));
	--color-bright: oklch(65% 0.3 var(--color-hue, 0));

	--gray-0: oklch(99% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-1: oklch(95% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-2: oklch(88% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-3: oklch(80% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-4: oklch(74% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-5: oklch(68% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-6: oklch(63% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-7: oklch(58% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-8: oklch(53% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-9: oklch(49% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-10: oklch(43% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-11: oklch(37% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-12: oklch(31% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-13: oklch(25% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-14: oklch(18% var(--gray-chroma, 0) var(--gray-hue, 0));
	--gray-15: oklch(10% var(--gray-chroma, 0) var(--gray-hue, 0));

	--background-color: light-dark(var(--brodie-white), var(--brodie-black));

	--text-color: light-dark(var(--brodie-black), var(--brodie-white));
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

:focus-visible {
	outline-offset: 2px;
}

@view-transition {
	navigation: auto;
}

html {
	color-scheme: light dark;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-sans);
	font-weight: 500;
}
body {
	margin: 0 auto;
	max-inline-size: 40em;
	min-block-size: 100dvb;
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: auto 1fr auto;
}
body > a[href="#skip"] {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	padding: 0.5em;
	border-end-end-radius: 8px;
	background: var(--text-color);
	color: var(--background-color);
}
body > :is(header, main, footer) {
	padding-block: 1em;
	padding-inline: 1em;
}
body > header {
	grid-area: header;
	border-block-end: 1px dashed var(--gray-3);
}
body > main {
	grid-area: main;
	min-block-size: 100%;
	display: grid;
	align-content: start;
	gap: 1em;
}
body > main > * {
	margin-block: 0;
}
body > footer {
	grid-area: footer;
}
body > footer > p {
	margin: 0;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active):not(:focus-within) {
	position: absolute;
	transform: scale(0);
}

:is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
	font-family: var(--font-serif);
	line-height: 1;
}
:is(h1, .h1) {
	font-size: 3rem;
	margin-block-start: 0;
}
:is(h2, .h2) {
	font-size: 2.5rem;
}
:is(h3, .h3) {
	font-size: 2rem;
}
:is(h4, .h4) {
	font-size: 1.75rem;
}
:is(h5, .h5) {
	font-size: 1.5rem;
}
:is(h6, .h6) {
	font-size: 1.25rem;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
picture, img {
	display: block;
	inline-size: fit-content;
}
img {
	max-inline-size: 100%;
	border-radius: 4px;
}
img[width][height] {
	block-size: auto;
}
img[src$=".svg"] {
	inline-size: 100%;
	block-size: auto;
	max-inline-size: none;
}

p:last-child {
	margin-block-end: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}

blockquote {
	padding-block: 1em;
	margin-inline: 0;
	font-style: italic;
	display: grid;
	gap: 1em;
}

blockquote::before {
	content: "";
	display: block;
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	block-size: 100%;
	inline-size: 8px;
	border-radius: 2px;
	background: var(--brodie-yellow);
}

blockquote > *:first-child {
	position: relative;
}
blockquote > *:first-child::before {
	content: "“";
	position: absolute;
	inset-inline-end: 100%;
}
blockquote > *:last-child::after {
	content: "”";
}

blockquote > * {
	margin: 0;
	grid-column-start: 2;
}

.links-nextprev {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.5em 1em;
	list-style: "";
	border-block-start: 1px dashed var(--gray-3);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

/* Header */
.home-link {
	font-size: 1em;
	font-weight: 700;
	margin: 0 auto;
	inline-size: fit-content;
	display: block;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}
.home-link img {
	max-inline-size: 10em;
	inline-size: 100%;
}

/* Nav */
.nav {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-inline-end: 1em;
}
.nav-item a[href][aria-current="page"] {
	text-decoration: none;
}
.nav-item a[href][aria-current="page"]:hover {
	text-decoration: underline;
	text-decoration-thickness: 0.1em;
}
.nav-item a[href]:not([aria-current="page"]):hover {
	text-decoration: none;
}
.nav-item a[href]:not([aria-current="page"]) {
	text-decoration: underline;
	text-decoration-thickness: 0.1em;
}

/* Footer */
footer a {
	text-decoration: none;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-inline-start: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-block-end: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-inline-start: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em;
	color: var(--gray-14);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em;
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-inline-start: 0.25em;
	padding-inline-end: 0.5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-inline-end: 1em;
}

.mb-auto {
	margin-block: auto;
}
.mi-auto {
	margin-inline: auto;
}

.inline-icon, .icon {
	block-size: 1em;
	inline-size: 1em;
	pointer-events: none;
}
.icon {
	display: block;
}
.inline-icon {
	display: inline-block;
}
:is(.icon, .inline-icon) > path {
	fill: currentcolor;
}

table-of-contents [id="toc-heading"] {
	font-size: 1.5rem;
}
table-of-contents button {
	font: inherit;
	text-align: start;
	padding: 8px;
	padding-block-start: 2px;
	border-radius: 8px;
	border: 1px solid var(--brodie-yellow);
	background: none;
	color: inherit;
}
table-of-contents button svg {
	font-size: 0.6em;
	color: var(--brodie-yellow);
	transition: transform 0.15s ease-out;
}
table-of-contents button[aria-expanded="true"] svg {
	transform: rotate(0.25turn);
}
table-of-contents ol {
	list-style: "# ";
}
table-of-contents ol ::marker {
	color: var(--brodie-yellow);
}
